* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: yekan;
}
body {
  height: 3000px;
  overflow-x: hidden;
}
@font-face {
  font-family: yekan;
  src: url(../fonts/IRANYekanWeb.eot);
  src: url(../fonts/IRANYekanWeb.ttf);
  src: url(../fonts/IRANYekanWeb.woff);
  src: url(../fonts/IRANYekanWeb.woff2);
}
.teuqthva {
  transition: opacity 0.5s ease; /* تنظیم تغییر نرم برای opacity */
  opacity: 1; /* مقدار اولیه */
}
